.logo {
    pointer-events: none;
}

.ih {
    
    pointer-events: visible;
    contain: strict;
    
    &_fixed {
        
        position: fixed;
        z-index: 1000;
        top: 0;
        left: 0;
        
        pointer-events: none;
        animation: fade-in 2s;
        
        @mixin left ( $small, $medium, $large ) {
            left: column-x( $small, $columns-small );
            @include medium {
                left: column-x( $medium, $columns-medium );
            }
            @include large {
                left: column-x( $large, $columns-large );
            }
            
        }
        
        @mixin right ( $small, $medium, $large ) {
            right: column-x( $columns-small - $small, $columns-small );
            @include medium {
                right: column-x( $columns-medium - $medium, $columns-medium );
            }
            @include large {
                right: column-x( $columns-large - $large, $columns-large );
            }
        }
        
        $duration: $transition-duration;
        $delay: $transition-delay;
        $easing: $transition-easing;
        
        @mixin transition-x-first {
            transition:
                right $duration 0s $easing,
                left $duration 0s $easing,
                top $duration $delay $easing,
                bottom $duration $delay $easing;
        }
        
        @mixin transition-y-first {
            transition:
                top $duration 0s $easing,
                bottom $duration 0s $easing,
                left $duration $delay $easing,
                right $duration $delay $easing;
        }
        
        @mixin transition-order( $first, $second, $third, $fourth ) {
            transition:
                $first $duration 0s $easing,
                $second $duration $delay $easing,
                $third $duration $delay * 2 $easing,
                $fourth $duration $delay * 3 $easing;
        }
        
        .logo_frame-x & {
            @include transition-x-first;
        }
        
        .logo_frame-y & {
            @include transition-y-first;
        }
        
        .logo_gutter &,
        .logo_edge & {
            top: $spacing;
            bottom: $spacing;
        }
        
        .logo_gutter & {
            @include transition-x-first;
            &.ih_i {
                @include left( -1, 4, 6 );
                @include right( 0, 5, 7 );
            }
            &.ih_h {
                @include left( $columns-small, 5, 7 );
                @include right( $columns-small + 1, 6, 8 );
            }
        }
        
        .logo_edge & {
            &.ih_i {
                @include left( -1, 0, 0 );
                @include right( 0, 1, 1 );
                @include transition-order( left, right, top, bottom );
            }
            &.ih_h {
                @include left( $columns-small, $columns-medium - 1, $columns-large - 1 );
                @include right( $columns-small + 1, $columns-medium, $columns-large );
                @include transition-order( right, left, bottom, top );
            }
        }
        
    }
    
    &__line {
        position: absolute;
        background: black;
        &_top {
            top: 0;
            left: 0;
            width: 100%;
            height: $stroke-width;
        }
        &_right {
            right: 0;
            top: 0;
            height: 100%;
            width: $stroke-width;
        }
        &_bottom {
            bottom: 0;
            left: 0;
            width: 100%;
            height: $stroke-width;
        }
        &_left {
            left: 0;
            top: 0;
            height: 100%;
            width: $stroke-width;
        }
        &_horizontal {
            top: 50%;
            left: 0;
            height: $stroke-width;
            width: 100%;
            transform: translateY(-$stroke-width / 2);
        }
        &_vertical {
            left: 50%;
            top: 0;
            width: $stroke-width;
            height: 100%;
            transform: translateX(-$stroke-width / 2);
        }
    }
    
    // &__curves {
    //     position: absolute;
    //     width: $curves-width;
    //     height: $curves-height;
    //     background-image: url(../www/assets/corner.svg);
    //     transform-origin: 50% 0;
    //     &_top {
    //         top: $stroke-width;
    //         left: 50%;
    //         transform: translateX(-50%);
    //     }
    //     &_right {
    //         top: 50%;
    //         right: $stroke-width;
    //         transform: translateX(50%) rotate(90deg);
    //     }
    //     &_bottom {
    //         left: 50%;
    //         bottom: $stroke-width;
    //         transform: translate(-50%, 100%) rotate(180deg);
    //     }
    //     &_left {
    //         top: 50%;
    //         left: $stroke-width;
    //         transform: translate(-50%, 0) rotate(-90deg)
    //     }
    // }
}