.section {
    position: relative;
    margin-bottom: $spacing;
    margin-left: $spacing;
    margin-right: $spacing;
    &:first-child {
        margin-top: $spacing;
    }
    &_100vh {
        height: calc( 100vh - #{ $spacing * 2 } );
    }
    @include medium {
        margin-left: column-x( 1, $columns-medium );
        margin-right: column-x( 1, $columns-medium );
    }
    @include large {
        margin-left: column-x( 1, $columns-large );
        margin-right: column-x( 1, $columns-large ) ;
    }
    
    &_huge {
        min-height: 100vh;
    }
    
    &_text {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-bottom: 50vh;
        height: auto;
        min-height: 100vh;
    }
    
}