.toggler {
    transition: opacity $transition-duration $transition-delay cubic-bezier(0.755, 0.05, 0.855, 0.06);
    &_hidden {
        transition: opacity $transition-duration;
        opacity: 0;
    }
}